:root {
    --header-color: #212121;
    --contacts-color: #757575;
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --btn-color: #2196F3;
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --hero-footer-bgc-color: #2F303A;
    --bcg-card-color: #F5F4FA;
    --head-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

/* ---------------------------HEADER-------------------------- */
header {
    background-color: var(--main-title-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--head-logo-color)
}

.list {
    list-style: none;
    margin-top: 0px;
}

.link {
    text-decoration: none;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--header-color);
}

.pointer {
    cursor: pointer;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-list .header-link.current {
    color: var(--accent-color);
}

.header-contacts-list {
    display: flex;
    margin-left: auto;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    /* margin-right: 50px; */
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
    align-self: center;
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    /* margin-right: 0px; */
}

.header-mail-li {
    margin-right: 50px;
}

.header-tel-li {
    margin-right: 0px;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
  align-self: center;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* ----------------------------------------HERO------------------------------------------- */

.hero {
    text-align: center;
}

.hero-content {
    background-color: var(--hero-footer-bgc-color);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background/background-1.jpg);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin: 0 auto;
    margin-bottom: 30px;


}

.hero-btn {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
}

/* ------------------------------------FEATURE----------------------------------- */
.feature {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
    display: flex;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-top: 0px;
    margin-bottom: 10px;
}

.feature-item {
    width: 270px;
    margin-right: 30px;
}

.feature-item::before {
    display: block;
    content:"";
    height: 120px;
    width: 270px;
    /*outline: 1px solid red;*/
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
}
/*
.feature-item:nth-child(1)::before {
    background-image: url(../images/features/antenna.svg);
}
.feature-item:nth-child(2)::before {
    background-image: url(../images/features/clock.svg);
}
.feature-item:nth-child(3)::before {
    background-image: url(../images/features/diagram.svg);
}
.feature-item:nth-child(4)::before {
    background-image: url(../images/features/astronaut.svg);
}
*/
.antenna::before {
    background-image: url(../images/features/antenna.svg);
}

.clock::before {
    background-image: url(../images/features/clock.svg);
}

.vector::before {
    background-image: url(../images/features/diagram.svg);
}

.austronaut::before {
    background-image: url(../images/features/astronaut.svg);
}


.feature-item:last-child {
    margin-right: 0px;
}

.feature-text {
    line-height: 1.71;
    max-width: 270px;
    margin-top: 0px;
    color: var(--contacts-color);
}

/* -------------------------------------direction--------------------------------------- */
.direction {
    padding-bottom: 94px;
}

.direction-list {
    display: flex;
}

.direction-item {

    margin-right: 30px;
}

.direction-icon {
    display: block;
    width: 100%;
    height: auto;

}

.direction-item:last-child {
    margin-right: 0px;
}

.direction-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 50px;
    margin-top: 0px;
}

.team {
    background-color: var(--bcg-card-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
}

.team-item {
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 50px;
    margin-top: 0px;
}

.team-icon {
    display: block;
    width: 100%;
    height: auto;

}

.about-team-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 10px;
    margin-top: 0px;
}

.specialty-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0px;
    color: var(--contacts-color);

}

/* ---------------------------------------FOOTER----------------------------------- */
footer {
    background-color: var(--hero-footer-bgc-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-logo-color);
    margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0px;
}

.footer-add-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-logo-color);

}

.footer-add-link:hover,
.footer-add-link:focus {
    color: var(--accent-color);
}

.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/* --------------------------------------------samples------------------------------------------ */
.samples {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services-list {
    display: flex;
    justify-content: center;
}

.services-list>li {
    margin-right: 8px;
}

.services-list>li:last-child {
    margin-right: 0px;
}

.services-item-btn {

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    background-color: var(--bcg-card-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}

.services-item-btn:hover,
.services-item-btn:focus {
    color: var(--main-title-color);
    background-color: var(--accent-color);
}

.services-list {
    margin-bottom: 50px;
}

.examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    margin-bottom: 4px;

}

.examples-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);

}

.about-examles {
    padding: 20px 24px;
    /* padding-bottom: 20px; */
    border: 1px solid #EEEEEE;

}

.examples-list {
    display: flex;
    flex-wrap: wrap;

}

.examples-item {

    margin-right: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;
}

.examples-icon {
    display: block;
    width: 100%;
    height: auto;
}

.examples-item:nth-child(3n) {
    margin-right: 0px;
}

.examples-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}